/*CSS bij taak3 Architectuur Bart Van der Stappen*/
@import "reset.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";

body {
    font: 400 100%/1.4 'PT Sans Narrow', 'Open Sans', Arial, sans-serif;
    background: #EEE;
    background: #0B243B;
    color: white;
}
.container {
    background: url(../images/header-bg-tablet.jpg);
    max-width:1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.unlist {list-style: none;}

a {color: white;}

span {padding-right: 1em;}


/*--------------------------------logo------------------------------------------*/

h2 {
    color: black;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding-left: 1.2em;
    font-weight: 900;
}

h2::before {
    padding-right: 0.4em;
    font-family: FontAwesome;
    content: '\F19c';
    font-size: 0.8em;
    color: orange;
}

/*--------------------------------venster op foto------------------------------------------*/

.popup {
    padding: 1em 1em 1em 1em;
    margin: 20em 1em 1em 1em;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 1.3em;
    background-color: orange;
    color: red;
    z-index: 2;
    color: white;
    padding-bottom: 0em;
}

.popup p {
    padding-bottom: 0.8em;
    padding-right: 0em;
}

/*--------------------------------navigatie------------------------------------------*/

.mainnav {
    min-height: 5em;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    margin-top: 2em;
}

.mainnav li {display: non;}

.drop::before  {
    font-family: FontAwesome;
    content: '\F0C9';
    color: black;
    font-size: 2em;
}




/*--------------------------------foto's------------------------------------------*/

.brussel {
    background: url(../images/atomium.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.parijs {
    background: url(../images/toureiffel.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.newyork {
    background: url(../images/guggenheim.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

figcaption {
    color: white;
    font-size: 1.4em;
    font-family: bold;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    align-content: center;
    justify-content: center;
}

/*--------------------------------buttons------------------------------------------*/

.popup a  {
    border: 0.01em solid;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    width:8em;
    font-size: 0.6em;
    text-transform: uppercase;
    color: white;
}

.verzend a  {
    background: orange;
    border: 0.01em solid;
    border-radius: 4px;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    width:9em;
    font-size: 1.1em;
    color: white;
}

.button:hover {background: darkorange;}

.verzend {
    margin-bottom: 2em;
    margin-left: 0;
    margin-top: 1em;
}

/*--------------------------------inhoud------------------------------------------*/

h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1.4em;
    margin-top: 1.4em;
}

p {
    display: flex;
    align-items: center;
    margin: 0em;
    padding-right: 3em;
    font-size: 1.2em;
    font-weight: 100;
}

textarea {
    color: white;
    width: 100%;
    height: 150px;
    min-height: 100px;
    max-height: 400px;
    padding: 12px 20px;
    background-color:black;
    font-size: 14px;
    resize: none;
    border: none;
}

input {
    background:black;
    border: none;
}

aside {font-size: 0.8em;}

aside div {margin-left: 1.4em;}

aside li {margin-bottom: 0.6em;}

input , select , text {color: white;}

input, select, textarea {
    width: 80%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
}


/*--------------------------------footer met metanav------------------------------------------*/

nav ul {
    display: flex;
    justify-content: center;
}

nav#metanav {
    background:#0B243B;
    padding: 0em 0;
    min-height: 6em;
}

nav#metanav ul li { 
    padding-top: 1em;
    display: inline;
}

nav#metanav a {
    color: white;
    height: 0;
    padding-left: .6em;
    padding-right: .6em;
}

nav#metanav a:hover {
    color: darkorange;
    text-decoration: none;
    border-radius: 4px;
}

footer { border-top: 1px solid grey;}

footer p {
    font-size: 0.7em;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer p::before {
    padding-right: 0.4em;
    font-family: FontAwesome;
    content: '\f1f9';
    font-size: 0.8em;
    color: white;
}

/*--------------------------------Media-queries----------------------------------*/
@media screen and (max-width: 1140px) {
    .mainnav {
         justify-content: space-between;
    }
    .mainnav ul {
        display: none;
    }
}
@media screen and (min-width: 1140px) {
    .container {
        width:1140px;
        margin:0 auto;
        flex-direction: column;
    } 
    .container1 {
        width:1140px;
        margin:0 auto;
        flex-direction: row;
    }
    
/*--------------------------------navigatie voor desktop--------------------------------*/

    .mainnav ul {
        margin-left: 18em;
        width: 30em;
    }
    
    .mainnav a {
    display: block;
    padding: 30px 2px;
    width: 120px;
    text-align: center;
    color: black;; 
    background: white;
    }
    
    .mainnav a:hover {
    text-decoration: none;
    background: lightgray;
    }
    
    .drop {display: none;}
    
/*--------------------------------venster op foto voor desktop--------------------------*/

    .popup {
        width: 15em;
        margin-left: 11em;
    }
/*--------------------------------foto's voor desktop-----------------------------------*/
    
    article {
        width: 33.3333333333333333%;
    }
    
    main {
        display:flex;
        flex-direction:row;
    }
    
/*--------------------------------inhoud voor desktop-----------------------------------*/

    aside {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    aside div {
        margin: 0;
        width: 20em;
    }
    
 }   
    
    
    


